PORT=3002
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=smartcup_rewards
DB_SYNCHRONIZE=false

NODE_URL=wss://archive-rpc.vara.network
FREEBET_LEDGER_ID=0x...
REWARDS_ACCOUNT="seed phrase or //Alice or 0x..."

X_BEARER_TOKEN=...
SMARTCUP_X_USERNAME=SmartCupLeague
SMARTCUP_APP_URL=https://app.smartcupleague.com/
X_REPOST_AMOUNT_VARA=2000
X_POST_AMOUNT_VARA=5000
ADMIN_API_KEY=
